.Banner {
    background-color: #003153;
    padding: 10px;
    position: fixed;

    transition: transform 0.2s ease;
    z-index: 1000
}

@media only screen and (min-width: 768px) {
    .Banner {
        padding: 10px;
    }
}
