.Nav {
    top: 0px;
    transition: 0.3s;
}

.Nav__link {
    font-size: 2rem;
    color: #ffffff;
    padding: 0px 10px;
}

.Nav__link:hover {
    text-decoration: underline 0.1rem;
}

.Nav__sm {
    display: none;
    font-size: 2rem;
}

.Nav__xs {
    display: flex;
}

@media only screen and (min-width: 600px) {
    .Nav__sm {
        display: flex;
    }

    .Nav__xs {
        display: none;
    }
    .Nav__link {
        font-size: 1.5rem;
    }
}
