.Photo {
    grid-area: Photo;
    display: flex;
    justify-content: center;
    margin-top: min(200px, 20vh);
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .Photo {
        margin-top: 20vh;
    }
}

@media only screen and (min-width: 1200px) {
    .Photo {
        justify-content: center;
    }
}

@media only screen and (min-width: 1536px) {
    .Photo {
        padding: 0px 10vw 0px 0;
    }
}