.Profile {
    grid-area: Profile;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .Profile {
        padding: 0px 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .Profile {
        margin-top: 20vh;
        padding: 0px 0px 0px 100px;
    }
}

@media only screen and (min-width: 1536px) {
    .Profile {
        padding: 0px 0px 0px 15vw;
    }
}
