.Profile {
    grid-area: Profile;
    display: flex;
    justify-self: center;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .Profile {
        width: 100%
    }
}

@media only screen and (min-width: 900px) {
    .Profile {
        margin-top: min(250px, 20vh);
        max-width: 900px;
    }
}

@media only screen and (min-width: 1200px) {
    .Profile {
        margin-top: min(250px, 20vh);
        max-width: 900px;
    }
}

@media only screen and (min-width: 1536px) {
    .Profile {
        margin-top: min(250px, 20vh);
        max-width: 900px;
    }
}