.Projects {
    grid-area: Projects;
    margin-top: 10vh;
}

.ProjectsGrid {
    display: block;
}

.ProjectsSwiper {
    display: none;
}

@media only screen and (min-width: 900px) {
    .Projects {
        margin-top: 10vh;
    }

    .ProjectsGrid {
        display: none;
    }

    .ProjectsSwiper {
        display: block;
        max-width: 100vw;
    }
}
