#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 200vh;
}

.app {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: transform 0.3s, top 0.3s;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
  transition: width 0.3s, top 0.3s;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #003153);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #003153);
}

.scrolled {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 20px;
  left: 20px;
}

.scrolled .logo {
  width: 100px;
  transform: translate(30px, 50px);
}

.sticky {
  top: 0;
}

.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: top 0.3s;
}

.navbar.sticky {
  position: fixed;
  top: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #008FFB;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #005C8A;
}

.content {
  padding: 20px;
}
