#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
}

.app {
    position: relative;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.App {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "Header Nav"
        "Profile Profile"
        "Projects Projects"
        "Contact Contact";
}

@media only screen and (min-width: 768px) {
    .App {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "Header Nav"
            "Profile Profile"
            "Projects Projects"
            "Contact Contact";
    }
}

.Header {
    grid-area: Header;
    position: fixed;
    top: 20px; /* Adjust as necessary */
    left: 20px; /* Adjust as necessary */
    transition: top 0.3s; /* Smooth transition */
}
.Header img {
    width: 200px; /* Initial logo size */
    transition: width 0.3s; /* Smooth logo resizing */
}
.Nav {
    grid-area: Nav;
}
.navbar {
    position: absolute;
    top: 20px; /* Adjust as necessary */
    right: 20px; /* Adjust as necessary */
    transition: top 0.3s; /* Smooth transition */
}

.navbar.sticky {
    position: fixed; /* Make it fixed when scrolling */
    top: 10px; /* Adjust as necessary */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px; /* Space between links */
}

.navbar a {
    text-decoration: none;
    color: #005c8a; /* Darker shade on hover */
    font-size: xx-large;
    transition: color 0.3s; /* Smooth transition for color */
}

.navbar a:hover {
    color: #003153; /* Link color */
}
.Profile {
    grid-area: Profile;
}
.Projects {
    grid-area: Projects;
}
.Contact {
    grid-area: Contact;
}
