@font-face {
    font-family: "Aboreto";
    src: url("/src/assets/fonts/Aboreto.ttf") format("truetype");
}

@font-face {
    font-family: "Gotu";
    src: url("/src/assets/fonts/Gotu.ttf") format("truetype");
}

@font-face {
    font-family: "Sacramento";
    src: url("/src/assets/fonts/Sacramento.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/src/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("/src/assets/fonts/Roboto-Thin.ttf") format("truetype");
}

html {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Gotu", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 100;
    width: 100%;
    height: auto;
    color-scheme: dark;
    background-color: #000d15;
    font-size: 1em;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: #ffffff;
    margin: 0;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    transition: ease;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.Banner {
    grid-area: Banner;
    position: fixed;
    top: 0;
    /* left: 0; */
    height: fit-content;
    background-color: #000d15;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 0px;
    z-index: 1000;
    width: 100%;
}

.Header {
    display: flex;
    justify-content: baseline;
    width: 100%;
    grid-area: Header;
    top: 0px;
    left: 0px;
    transition: top 0.3s;
}

.Header img {
    padding: 20px 0px;
    margin: 0px;
    width: 20%;
    transition: width 0.3s;
    display: block;
}

.Nav {
    grid-area: Nav;
    top: 0px;
    right: 0px;
    transition: top 0.3s;
}

.Nav__link {
    font-size: 50px;
    color: #ffffff;
    padding: 0px 10px;
}

.Nav__link:hover {
    text-decoration: underline 0.1rem;
}

.Content {
    grid-area: Content;
    display: block;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
    max-width: 1280px;
}

.Profile {
    grid-area: Profile;
    display: flex;
    width: 100%;
}

.Projects {
    grid-area: Projects;
    width: 100%;
}

.Contact {
    grid-area: Contact;
}

.App {
    display: flex;
    justify-content: center;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    display: block;
}

@media (min-width: 768px) {
    .App {
        display: flex;
        justify-content: center;
    }
    .Header img {
        padding: 20px;
        width: 10%;
        transition: width 0.3s;
        display: block;
    }
    .desktop-nav {
        display: flex;
        font-size: 2rem;
    }

    .mobile-nav {
        display: none;
    }
}

@media (max-width: 768px) {
}

.section {
    padding: 20px;
    height: 100vh;
    opacity: 1;
    transition: 1s ease;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 1;
}
